@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300&family=Open+Sans+Condensed:ital,wght@1,300&family=Ubuntu:wght@300;400&display=swap');
body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    height: 8vh;
    background-color: black;
    color: white;
}

nav ul li{
    padding: 0px 1vw;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

.nav-item{
    cursor: pointer;
}

.brand img{
    width: 42px;
    padding: 0 8px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    min-height: 70vh;
    background-color: black;
    color: white;
    font-family: 'Dosis', sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 25px;
    background-image: url('/images/bg.jpg');
    background-size: cover;
}

/* Bottom Play Control Styling */

.bottom{
    position: sticky;
    height: 15vh;
    bottom: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}

.icons i{
    margin-top: 15px;
    cursor: pointer;
}

#myProgressBar{
      width: 80vw;
      cursor: pointer;
}

.songList{
    width: 70%;
}

.songListContainer{
    margin-top: 25px;
}

.songItem{
    height: 7vh;
    display: flex;
    background-color: white;
    width: 80%;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
}

.songItem img{
    width: 6.7vh;
    margin: 0 2px;
    border-radius: 25px;
}

.songlistplay{
    display: flex;
    align-items: center;
}

.songItem span{
    font-size: 1rem;  
}

.timestamp{
    margin: 0 20px;
    display: flex;
    align-items: center;
}

.timestamp i{
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 10vw;
    color: white;
    font-family: 'Dosis', sans-serif;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

@media only screen and (max-width: 1050px) {
    .nav-item{
        display: none;
    }
    .songItem{
        width: 45vw;
    }
}

@media only screen and (max-width: 920px) {
    .songItem{
        width: 50vw;
    }
}

@media only screen and (max-width: 760px) {
    .songItem{
        width: 55vw;
    }
    .songInfo{
        position: relative;
        left: 0vw;
        margin: 4px 0;
    }
    .icons{
        margin-top: 8px;
        margin-bottom: 8px;
    }
    .bottom{
        height: 18vh;
    }
}

@media only screen and (max-width: 690px) {
    .songItem{
        width: 70vw;
    }
    .container{
        width: 80%;
    }
}

@media only screen and (max-width: 540px) {
    .songItem{
        width: 82vw;
    }
}