@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300&family=Open+Sans+Condensed:ital,wght@1,300&family=Ubuntu:wght@300;400&display=swap');
body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    height: 8vh;
    background-color: black;
    color: white;
}

nav ul li{
    padding: 0px 1vw;
}

.brand img{
    width: 42px;
    padding: 0 8px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    min-height: 70vh;
    background-color: black;
    color: white;
    font-family: 'Dosis', sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 25px;
    background-image: url('/images/bg.jpg');
    background-size: cover;
}

/* Bottom Play Control Styling */

.bottom{
    position: sticky;
    height: 15vh;
    bottom: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}

.icons{
    margin-top: 15px;
    cursor: pointer;
}

#myProgressBar{
      width: 80vw;
}

.songList{
    width: 70%;
}

.songListContainer{
    margin-top: 25px;
}

.songItem{
    height: 45px;
    display: flex;
    background-color: white;
    width: 80%;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
}

.songItem img{
    width: 37px;
    margin: 0 8px;
    border-radius: 25px;
}

.timestamp{
    margin: 0 20px;
    display: flex;
    align-items: center;
}

.timestamp i{
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 10vw;
    color: white;
    font-family: 'Dosis', sans-serif;
}

.songInfo img{
    opacity: 0;
    transition: opacity 1s ease-in;
}